{{ShowBless()}}
{{title}}
<!-- <app-studen-list1></app-studen-list1> -->
<!-- <app-courses-hw></app-courses-hw> -->
 <!-- <app-teacher-form></app-teacher-form> -->
 

 <nav>

<!-- <a  routerLink="/" routerLinkActive="active">Home</a> -->
<a  routerLink="/teacherForm" routerLinkActive="active">Teacher's Form</a>
<a  routerLink="/courses" routerLinkActive="active">Courses</a>
<!-- <a  routerLink="/currentStudent" routerLinkActive="active">Current student</a> -->
<!-- <a  routerLink="/information" routerLinkActive="active">Information</a> -->
<a  routerLink="/studentList" routerLinkActive="active">Students List</a>
<a  routerLink="/techearReactiveForm" routerLinkActive="active">Teacher reactive form</a>
<a  routerLink="/TreeCoursesComponent" routerLinkActive="active">Courses silabus</a>
<a  routerLink="/ApiEventComponent" routerLinkActive="active">Api events</a>
<a  routerLink="/AfterLogin" routerLinkActive="active">After Login</a>
<a  routerLink="/Login" routerLinkActive="active">Login</a>
<a  routerLink="/UserLogin" routerLinkActive="active">User Login</a>


 </nav>
 <router-outlet></router-outlet>
 <!-- {{"happy"|icon}}
 {{"sad"|icon}}
 {{"excited"|icon}}
 {{"happy"|icon}}
 {{"happy"|icon}} -->
<!-- <tree-courses></tree-courses> -->