<p>teacher-form works!</p>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
<label for="ID">Teacher's id: </label>
<input id="ID" [(ngModel)]="teacher.ID" name="ID" required>
<label for="name">Teacher's name: </label>
<input id="name" [(ngModel)]="teacher.name" #name1="ngModel" name="name" required minlength="3">
@if (name1.touched && name1.hasError('required') ) {
    <small class="error-invalid">Name is required</small>
}
@if (name1.hasError('minlength')) {
    <small class="error-invalid" >Name must be at least 3 letters</small>   
}
<label for="classes">Teacher's classes: </label>
<input id="classes" [(ngModel)]="teacher.classes"#class1="ngModel" name="classes" required minlength="5">
@if (class1.touched && class1.hasError('required') ) {
    <small class="error-invalid">Class field is required</small>
}
@if (class1.hasError('minlength')) {
    <small class="error-invalid" >You must teach at least 2 classes</small>   
}
<button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>


<div>Teacher's List:</div>
@for (item of teachersList; track $index) {
    <div>
        Teacher's Id:{{item.ID}} Teacher's name:{{item.name}} Teacher's classes:{{item.classes}}
    </div>
}
<input [(ngModel)]="icon" placeholder="enter emotion">
{{icon|icon}}